

background {
    background-color: #000000;
}
html {
    background-color: #000001;
}

H1 {
   /* color: #05b200;*/
   color: white;
   font-size: min(40px, 15vw);
    text-align: center;
    font-family: 'Actor', sans-serif;
    font-style: italic;
}

H2 {
    color: #b50000;
   font-size: min(40px, 15vw);
    font-family: 'Actor', sans-serif;
    text-align: center;
}

H3 {
    color: #b50000;
   background-color:#ffff00; 
   font-size: min(45px, 20vw);
    font-family: 'Actor', sans-serif;
    text-align: center;
}

H4 {
    color: #00cc00;
   background-color:#ffff00; 
   font-size: min(45px, 20vw);
    font-family: 'Actor', sans-serif;
    text-align: center;
}

p {
    font-family: 'Alexandria', sans-serif;
   font-size: min(35px, 13vw);
    color: #ffffff;
    text-align: center;
}

a {
    font-size: min(35px, 10vw);
	text-decoration: underline overline;
    background:#ff0;
	}

