* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

background {
    background-color: #000000;
}

html {
    background-color: #000000;
}

H1 {
    color: #05b200;
   /*color: white;*/
    font-size: 38px;
   font-size: max(38, 20vw);
    text-align: center;
    font-family: 'Actor', sans-serif;
    font-style: italic;
}

H2 {
    color: #b50000;
    font-size: min(50px, 5vw)
    font-family: 'Actor', sans-serif;
    text-align: center;
}

p {
    font-family: 'Alexandria', sans-serif;
    font-size: max(38, 20vw);
    color: #ffffff;
    text-align: center;
}




